In [1]:
import os
import json
import gzip
import pandas as pd
from urllib.request import urlopen

In [14]:
### load the review data

review_data = []
with gzip.open('Software.json.gz') as f:
    for l in f:
        review_data.append(json.loads(l.strip()))
    
# total length of list, this number equals total number of reviews
print(len(review_data))

# first row of the list
print(review_data[10])

459436
{'overall': 2.0, 'vote': '3', 'verified': True, 'reviewTime': '05 3, 2009', 'reviewerID': 'A1CUJ6ZT82H7LS', 'asin': '0132147556', 'style': {'Format:': ' Paperback'}, 'reviewerName': 'Brian', 'reviewText': "Maybe it's just me (I have no marketing background but desperately want to learn for my start-up) but I cannot get hardly anything out of this text. I have tried very hard to tread through the writing and learn something useful but chapter after chapter seems to be the exact same thing... overly wordy, rambling & unnecessarily academic writing with no comprehensible message behind it, no strategies I can apply to my own business and no organization that I can make sense of. Feels almost like I'm reading a paper a college student BSed their way through with a whole bunch of long words and cryptic sentences in order to sound impressive. What a rip-off. I paid $70 for this and it has been the most useless book I've paid for in my research process (and I've read 16 other books thus far to help me with my venture).\n\nThe only reason I'm giving this two stars and not one star is that out of the first six chapters I've read, two of them actually made sense. One was on International Marketing and did a very good job explaining the technology limitations of other countries and the ways foreign citizens adapt to this and use technology. This is actually very helpful information and I'm going to use it. The second was on the legal and ethical aspects of using the internet. It gave an extremely concise explanation with lots of info and it was easily understandable. Unfortunately, I've read a chapter like this over and over and over again in pretty much every e-business book I've picked up so far so it's getting old.", 'summary': 'This book is intolerable', 'unixReviewTime': 1241308800}

In [37]:
# convert list into pandas dataframe

all_products = {}
df_review = pd.DataFrame.from_dict(review_data)

#filter out the non-verified reviews, and leave only the columns we want
df_review = df_review[df_review['verified']==True][["overall", "reviewTime", "asin", "reviewText", "summary"]]
print(len(df_review))
df_review.head()
# for x in df_review:
#     all_products.add(x['asin'])

309345

,overall,reviewTime,asin,reviewText,summary
0,4.0,"03 11, 2014",0077613252,The materials arrived early and were in excell...,Material Great
1,4.0,"02 23, 2014",0077613252,I am really enjoying this book with the worksh...,Health
2,1.0,"02 17, 2014",0077613252,"IF YOU ARE TAKING THIS CLASS DON""T WASTE YOUR ...",ARE YOU KIDING ME?
3,3.0,"02 17, 2014",0077613252,This book was missing pages!!! Important pages...,missing pages!!
5,4.0,"08 15, 2011",0132147556,"Strong backgroung, good read, quite up to date...",E-marketing 6th ed

In [28]:
### load the mega data

mega_data = []
with gzip.open('meta_Software.json.gz') as f:
    for l in f:
        mega_data.append(json.loads(l.strip()))
    
# total length of list, this number equals total number of products
print(len(mega_data))

# first row of the list
print(mega_data[1])

26790
{'category': [], 'tech1': '', 'description': ['', '<b>Latin rhythms that will get your kids singing in Spanish</b>', '<i>Sing, Watch, and Learn Spanish</i> helps your kids ages four through eight take a giant step in learning Spanish by combining two time-honored methods kids have always used to develop their language skills: Imitating other kids and singing along with simple melodies. This charming DVD contains 16 music videos featuring kids engaged in fun activities, from visiting animals at the zoo to comparing clothing sizes in grandmas closet.', 'Each video features an original song of authentic Latin rhythms that gets kids singing along with the children on screen. As they watch, listen, and sing along, kids absorb 300 Spanish words, each of which is shouted out in a song and displayed as a subtitle on screen.', '', '', ''], 'fit': '', 'title': 'Sing, Watch, &amp; Learn Spanish (DVD + Guide): 16 Fun Music Videos to Introduce Your Child to Spanish', 'also_buy': [], 'tech2': '', 'brand': 'McGraw Hill', 'feature': [], 'rank': '15,792 in Software (', 'also_view': [], 'main_cat': 'Software', 'similar_item': '', 'date': '</div>', 'price': '', 'asin': '0071480935', 'imageURL': ['https://images-na.ssl-images-amazon.com/images/I/51BtLn2-L-L._SX38_SY50_CR,0,0,38,50_.jpg'], 'imageURLHighRes': ['https://images-na.ssl-images-amazon.com/images/I/51BtLn2-L-L.jpg']}

In [34]:
# convert list into pandas dataframe

df_product = pd.DataFrame.from_dict(mega_data)

#filter out the non-verified reviews, and leave only the columns we want
df_product = df_product[["asin", "rank"]]
print(len(df_product))
df_product.tail()

26790

             asin                                      rank
26785  B01HEFZJC2  1,389,844 in Clothing, Shoes & Jewelry (
26786  B01HEFZKEE  1,469,307 in Clothing, Shoes & Jewelry (
26787  B01HF3G4BS                       2,733 in Software (
26788  B01HF41TKI                      15,575 in Software (
26789  B01HJAMWOK                       7,721 in Software (

In [25]:
# ### remove rows with unformatted title (i.e. some 'title' may still contain html style content)

# df3 = df.fillna('')
# df4 = df3[df3.title.str.contains('getTime')] # unformatted rows
# df5 = df3[~df3.title.str.contains('getTime')] # filter those unformatted rows
# print(len(df4))
# print(len(df5))

In [26]:
# # how those unformatted rows look like
# df4.iloc[0]